---
import Head from '../../components/Head.astro';
import Nav from '../../components/Nav.astro';
import CenteredLayout from '../../components/CenteredLayout.astro';
import PostPreview from '../../components/PostPreview.astro';
import Pagination from '../../components/Pagination.astro';
import { CMS } from '../../models/cms';
import { env } from '../../environment';

export async function getStaticPaths({paginate, rss}) {
  const allPosts: CMS.Post[] = Astro.fetchContent('./*.md');
  allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());

  rss({
    // The RSS Feed title, description, and custom metadata.
    title: env.title,
    description: env.description,
    customData: `<language>en-us</language>`,
    // The list of items for your RSS feed, sorted.
    items: allPosts.map((item: CMS.Post) => ({
      title: item.title,
      description: item.description,
      link: item.url,
      pubDate: item.date,
    })),
    dest: '/feed/posts.xml'
  });

  return paginate(allPosts,  { pageSize: 4 });
}

const { title, description } = env;
const { page } = Astro.props;
---

<!DOCTYPE html>
<html>
  <head>
    <Head
      title={title}
      description={description}
      image={page.data[0].cover}
      canonicalURL={Astro.request.canonicalURL.href}
    />
    <style lang="scss">
      #grid-main {
        height: 100%;
        padding-bottom: var(--doc-padding);
      }
      :global(.post:not(:first-child)) {
        margin-top: var(--doc-padding);
      }
    </style>
  </head>

  <body>
    <Nav />

    <CenteredLayout>
      <div id="grid-main">
        {page.data.map((post) => <PostPreview post={post} />)}
      </div>
    </CenteredLayout>

    <footer>
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </footer>
  </body>
</html>
