---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import CenteredLayout from '../components/CenteredLayout.astro';
import PostPreview from '../components/PostPreview.astro';
import Pagination from '../components/Pagination.astro';
import { env } from '../environment';
import { CMS } from '../models/cms';

// page
export const pageSize = 20;
const { title, description } = env;

// collection
const allPosts: CMS.Post[] = Astro.fetchContent('./posts/*.md');
allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
const firstPage = allPosts.slice(0, pageSize);
---

<!DOCTYPE html>
<html>
  <head>
    <Head
      title={title}
      description={description}
      image={firstPage[0].cover}
      canonicalURL={Astro.request.canonicalURL.href}
    />
    <style>
      #grid-main {
        height: 100%;
        padding-bottom: var(--doc-padding);
      }
      :global(.post:not(:first-child)) {
        margin-top: var(--doc-padding);
      }
    </style>
  </head>

  <body>
    <Nav />

    <CenteredLayout>
      <div id="grid-main">
        {firstPage.map((post) => <PostPreview post={post} />)}
      </div>
    </CenteredLayout>

    <footer>
      <Pagination nextUrl={allPosts.length > pageSize ? "/posts/2" : null} />
    </footer>
  </body>
</html>
