---
import { CMS } from '../models/cms';
import { formatDate } from '../util/date-format';

export interface Props {
  post: CMS.Post;
}
const { post } = Astro.props as Props;
const escapedTitle = post.title.replace(/<\/?em>/ig, '');

---

<style lang="scss">
.post {
  overflow: hidden;
}

.link {
  color: unset;
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    .title {
      text-decoration-color: var(--theme-text-accent);
      color: var(--theme-text-accent)
    }
  }
}

.title {
  margin: var(--gutter) 0;
  transition: color var(--enter-fast);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color var(--enter-fast), color var(--enter-fast);;
}

.description {
  max-width: var(--max-width);
}
</style>

<article class="post">
  <a class="link" href={post.url} aria-label={`Read ${escapedTitle}`}>
    { post.cover 
      ? <img class="cover round" src={post.cover} alt={escapedTitle} loading="lazy">
      : null }
    <div class="data">
      <h2 class="title">{post.title}</h2>
      <time class="date" datetime={post.date}>{formatDate(post.date)}</time>
      <p class="description">
        {post.description}
      </p>
    </div>
  </a>
</article>
