---
import { CMS } from '../models/cms';

export interface Props {
  post: CMS.Post;
}
const { post } = Astro.props;

function formatDate(date) {
  return new Date(date).toUTCString().replace(/(\d\d\d\d) .*/, '$1'); // remove everything after YYYY
}
---

<style lang="scss">
.post {
  padding: 2rem 0;
}

.cover {
  border-radius: var(--border-radius);
  width: 100%;
  max-height: 400px;
  aspect-ratio: 16 / 9;
  background-color: var(--theme-text-lighter);
  object-fit: cover;
}

.link {
  color: unset;
  text-decoration: none;
  display: block;

  .title {
    transition: color var(--enter-fast);
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &:hover .title {
    color: var(--theme-text-accent);
  }
}

time {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.5em;
  font-size: 0.8rem;
}

.description {
  max-width: var(--max-width);
}
</style>

<article class="post">
  <a class="link" href={post.url} aria-label={`Read ${post.title}`}>
    {post.cover ? <img class="cover" src={post.cover} alt={post.title}> : null}
    <div class="data">
      <h2 class="title">{post.title}</h2>
      <time class="date" datetime={post.date}>{formatDate(post.date)}</time>
      <p class="description">
        {post.description}
      </p>
    </div>
  </a>
</article>
