---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import CenteredLayout from '../components/CenteredLayout.astro';
import { env } from '../environment';
import { formatDate } from '../util/date-format';

const { title } = env;
const { content } = Astro.props;
const escapedTitle = content.title.replace(/<\/?em>/ig, '');
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{escapedTitle} - {title}</title>
    <Head 
      title={escapedTitle} 
      description={content.description} 
      image={content.image} 
      canonicalURL={Astro.request.canonicalURL.href} 
    />
    <style lang="scss">
      #grid-main {
        height: 100%;
        padding-bottom: var(--doc-padding);
      }
      .heading {
        margin-bottom: var(--doc-padding);
      }
      .title {
        margin: var(--gutter) 0;
      }
      .footer .nav {
        flex: 1;
        display: flex;
        max-width: var(--max-width);
        text-transform: uppercase;
        justify-content: center;
      }
    </style>
  </head>


  <body>
    <Nav />

    <CenteredLayout>
      <div id="grid-main">
        <section class="heading">
          <img class="img cover round" src={content.cover} alt={escapedTitle}>
          <h2 class="title">{content.title}</h2>
          <time class="date" datetime={content.date}>{formatDate(content.date)}</time>
          <p class="description">{content.description}</p>
        </section>
        <article class="article">
          <slot/>
        </article>
      </div>
    </CenteredLayout>

    <footer class="footer flex justify-center">
      <nav class="nav">
        <a class="posts" href="/">All Posts</a>
      </nav>
    </footer>
  </body>
</html>
