---
import Head from '../components/Head.astro';
import CenteredLayout from '../components/CenteredLayout.astro';
import { env } from '../environment';

const { title } = env;
const { content } = Astro.props;
---

<html>
  <head>
    <title>{content.title} - {title}</title>
    <Head 
      title={content.title} 
      description={content.description} 
      image={content.image} 
      canonicalURL={Astro.request.canonicalURL.href} 
    />
      <style>
        #grid-main {
          padding: var(--doc-padding) var(--gutter);
          grid-column: 2;
          display: flex;
          flex-direction: column;
          height: 100%;
        }
    </style>
  </head>

  <body>
    <CenteredLayout>
      <div id="grid-main">
        <h1 class="title">{content.title}</h1>
        <p class="description">{content.description}</p>
        <img class="img" src={content.cover} alt="">
        <article class="article">
          <slot/>
        </article>
      </div>
    </CenteredLayout>

    <footer class="footer">
      <a class="posts" href="/">All Posts</a>
    </footer>
  </body>
</html>
